{{!-- widget post Related Numero 6--}}
{{#get "posts" limit="6" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags"}}
<div class="post-related">
    <h2 class="post-related-title u-b-b">Related Article</h2>
    <div id="post-related-wrap" class="row">

        {{#foreach posts}}
        <div class="col s12 m6 l4">
            <div class="entry entry--small">
                <figure class="entry-image">
                    <a href="{{url}}" class="entry-image--link" style="background-color:#f0f0f0">
                        <span class="entry-image--bg lazy" data-original="{{feature_image}}"></span>
                    </a>
                </figure>
            <h3 class="entry-title"><a href="{{url}}">{{title}}</a></h3>
            </div>
        </div>
        {{/foreach}}

    </div>
</div>
{{/get}}

