<div class="post-card u-card-shadow">

{{#post}}

<article class="post">

    {{!-- Article Header --}}
    <header class="post-header">
        {{!-- Primary Tag --}}
        {{#primary_tag}}<div class="entry-category" style="margin-bottom:15px"><a href="{{url}}" class="u-tag">{{name}}</a></div>{{/primary_tag}}

        <h1 class="post-title">{{title}}</h1>

        {{!-- excerpt  --}}
        {{#if custom_excerpt}}<p class="post-excerpt">{{custom_excerpt}}</p>{{/if}}

        {{!-- Article By line (author - date - tag) --}}
        {{> "article-byline" }}
    </header>

    {{!-- Article featured Image --}}
    {{{block "mapache_feature_image"}}}

    {{!-- audio post format --}}
    {{{block "mapache_audio"}}}

    {{!-- Article content body --}}
    <div class="post-body">{{content}}</div>

    {{!-- Article Tags --}}
    {{> "article-tags" }}

    {{!-- Article ( Share Button — Suscribe newsletter ) --}}
    {{> "article-share-subscribe" }}

    {{!-- Article author info --}}
    {{> "article-author" }}

    {{!-- Article Comments Section --}}
    {{> "article-comments" }}

</article>

{{/post}}

{{!-- Article Related Numero 6--}}
{{> "article-related" }}

</div>
