{{!-- Article by line top — author, date, tag --}}

<div class="u-flex u-flex-center u-flex-wrap">
    <div class="post-byline">
        {{#primary_author}} {{t "By"}} <a href="{{url}}">{{name}}</a> / {{/primary_author}}
        <time class="timestamp" datetime="{{date format='YYYY-MM-DD'}}"> {{date published_at timeago="true"}} </time>
        <span class="reading-time">/ {{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span>
    </div>

    {{!-- Article Share Top --}}
    <ul class="post-actions--top u-flex-center u-unstyled">
        <li>
            <a class="scrolltop post-action-comments" href="#post-comments">
                <i class="i-chat" style="font-size: 16px;line-height: 1;"></i>
                {{!-- Disqus Comments Count --}}
                <span class="disqus-comment-count mapache-disqus u-hide" data-disqus-url="{{url absolute="true"}}">0 {{t "Comments"}}</span>
                {{!-- Facebook Comments Counts --}}
                <span class="fb-comments-count mapache-facebook u-hide" data-href="{{url absolute="true"}}">0</span>
                <span class="mapache-facebook u-hide">{{t "Comments"}}</span>
            </a>
        </li>
        <li class="u-h-b-lg"><a href="#" class="share i-facebook c-facebook" mapache-share="facebook" mapache-url="{{url absolute="true"}}"></a></li>
        <li class="u-h-b-lg"><a href="#" class="share i-twitter c-twitter" mapache-share="twitter" mapache-title="{{title}}" mapache-url="{{url absolute="true"}}"></a></li>
        <li class="u-h-b-lg"><a href="#" class="share i-reddit c-reddit" mapache-share="reddit" mapache-url="{{url absolute="true"}}"></a></li>
        <li class="u-h-b-lg"><a href="#" class="share i-pinterest c-pinterest" mapache-share="pinterest" mapache-title="{{title}}" mapache-url="{{url absolute="true"}}"></a></li>
        <li class="u-h-b-lg"><a href="#" class="share i-pocket c-pocket" mapache-share="pocket" mapache-url="{{url absolute="true"}}"></a></li>
    </ul>
</div>
