{{!-- Post author info --}}
{{#author}}

<div class="post-author">
    <a class="post-author-avatar u-not-avatar" href="{{url}}" {{#if profile_image}}style="background-image:url({{profile_image}})"{{/if}}></a>
    <div class="post-author-wrap">
        {{!-- Author name and biography --}}
        <p class="post-author-bio"><strong><a href="{{url}}">{{name}}</a></strong> {{#if bio}}— {{bio}}{{/if}}</p>

        {{!-- Author -> facebook - twitter - location - website --}}
        <ul class="u-unstyled u-flex u-h-b-lg">
            {{#has any="twitter, facebook"}}
            <li>
                <h5 class="u-textUppercase">{{t "contact"}}</h5>
                {{#if facebook}}<a href="{{facebook_url}}" title="Facebook" target="_blank"><i class="i-facebook"></i> Facebook</a>{{/if}}
                {{#if twitter}}<a href="{{twitter_url}}" style="margin-left:5px" title="{{twitter}}" target="_blank"><i class="i-twitter"></i> Twitter</a>{{/if}}
            </li>
            {{/has}}

            {{#if location}}<li><h5 class="u-textUppercase">{{t "location"}}</h5><span><i class="i-flag"></i> {{location}}</span></li>{{/if}}
            {{#if website}}<li><h5 class="u-textUppercase">{{t "website"}}</h5><a href="{{website}}" target="_blank">{{website}}</a></li>{{/if}}
        </ul>

        {{!-- Read More post --}}
        <p style="margin:15px 0 0" class="post-author-bio">{{{t "Read <a href='{url}'>more posts</a> by this author" url=(url)}}}.</p>

    </div>
</div>

{{/author}}
