{{!-- Entry template --}}
<article class="entry entry-pagination u-card-shadow">
    <div class="row">
        {{!-- Image --}}
        <figure class="col s12 entry-image">
            <a class="entry-image--link u-relative u-block" href="{{url}}" style="background-color:#f0f0f0">
                {{#if feature_image}}
                <span class="entry-lazy entry-image--bg u-absolute0 u-bg-cover u-block" data-original="{{feature_image}}"></span>
                {{else}}
                <span class="u-not-image u-absolute0 u-block" style="background-image: url({{asset "images/not-image.png"}})"></span>
                {{/if}}

                {{!-- tag Video Icon --}}
                {{#has tag="#video-post-format"}}<span class="entry-video-play i-play"></span>{{/has}}
            </a>
        </figure>

        <div class="col s12 entry-body">
            {{!-- Primary Tag --}}
            {{#primary_tag}}<div class="entry-category"><a href="{{url}}" class="u-tag">{{name}}</a></div>{{/primary_tag}}

            {{!-- Title --}}
            <h2 class="entry-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>

            <div class="entry-byline">
                {{#primary_author}} {{t "By"}} <a class="entry-author" href="{{url}}">{{name}}</a> / {{/primary_author}}
                <time class="entry-timeago timestamp" datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time>
                <span class="reading-time">/ {{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span>
            </div>

            <div class="entry-excerpt">{{excerpt words="15"}}</div>
        </div>
    </div>
</article>
