<footer class="footer u-fontSizeSmaller u-fontWeightMedium">
    <div class="footer-links">
        <div class="extreme-container u-flexCenter u-flexColumn">
            {{!-- Follow social media --}}
            <aside class="follow followMe u-textColorWhite u-fontSize20 u-textAlignCenter">
                {{#if @site.facebook}}<a class="i-facebook" title="Facebook {{@site.facebook}}" href="{{facebook_url}}" target="_blank" rel="noopener noreferrer"></a>{{/if}}
                {{#if @site.twitter}}<a class="i-twitter" title="Twitter {{@site.twitter}}" href="{{twitter_url}}" target="_blank" rel="noopener noreferrer"></a>{{/if}}
                {{!-- Subscribe BTN for modal newsletter --}}
                {{#if @labs.subscribers}}<a href="#" class="subscribe-toggle modal-toggle u-relative i-email u-floatRight"></a>{{/if}}
            </aside>
            {{!-- Footer Menu --}}
            <ul class="footer-menu u-textUppercase u-textAlignCenter u-marginTop20 u-hide"></ul>
        </div>
    </div>
    {{!-- copy --}}
    <div class="footer-copy u-textAlignCenter">
        &copy; {{date format="YYYY"}} <a href="{{@site.url}}">{{@site.title}}</a>
        Design with <i class="i-favorite animated infinite pulse" style="color:red;display:inline-block"></i> by <a href="https://godofredo.ninja" title="Developer FullStack.">@GodoFredoNinja</a>
    </div>
</footer>
