{{!-- Navigation Page --}}
<header id="header" class="header{{^is "home, tag, author"}} toolbar-shadow"{{else}}" style="background:transparent"{{/is}}>
	<div class="header-wrap">
		{{#if @blog.navigation}}<a href="#" id="menu-open" class="menu-open header-btn i-menu hide-after-lg"></a>{{/if}}
		<div class="header-logo">
			<a class="header-logo-link" href="{{@blog.url}}">
				{{#if @blog.logo}}
				<img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
				<span class="header-logo-bg" style="display:none;background-image:url({{@blog.logo}})"></span>
				{{else}}
				<span>{{@blog.title}}</span>
				{{/if}}
			</a>
		</div>

		{{#if @blog.navigation}}
		<nav class="header-navigation">
			<ul class="header-navigation-wrap u-unstyled hide-before-lg">{{navigation}}</ul>
		</nav>
		{{/if}}

		<form id="header-search" class="header-search hide-before-md" >
			<div id="searchbox" class="searchbox">
				<input id="searchbox-input" placeholder="Search" type="text" class="search-field" name="q" value="" autocomplete="off">
				<span class="search-icon i-search"></span>
			</div>

			<div class="search-popout closed">
				<div id="search-results" class="search-suggest-results" style="display:none"></div>
			</div>
		</form>

		<a href="#" id="search-btn" class="search-btn header-btn hide-after-md i-close i-search"></a>

		<div class="header-social hide-before-lg social_box">
			{{#if @blog.facebook}} <a title="Facebook {{@blog.facebook}}" href="{{facebook_url}}" target="_blank" class="i-facebook"></a>{{/if}}
			{{#if @blog.twitter}} <a title="Twitter {{@blog.twitter}}" href="{{twitter_url}}" target="_blank" class="i-twitter"></a>{{/if}}
		</div>

	</div>

</header>
