{{!-- Navigation Page --}}
<div class="navbar-fixed">
  <nav class="godo-nav">
    <div class="full-site-width">
      {{!-- Add Navigation --}}
      {{#if @blog.navigation}}{{navigation}}{{/if}}
      {{!-- Add Logo --}}
      <a class="logo left" href="{{@blog.url}}">{{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}"/>{{else}}<span>{{@blog.title}}</span>{{/if}}</a>
      {{!-- Add Form Search Menu --}}
      <form class="godo-search">
        <i class="fa fa-search show-on-medium-screen"></i>
        <input class="godo-search-field" type="search" placeholder="Buscar" autocomplete="off">
        <div class="godo-search-result" id="godo-search-result"></div>
      </form>
      {{!-- btn search --}}
      <a href="#" class="nav-search-open right btn btn-flat"><i class="fa fa-search"></i></a>

      {{!-- Social navigation --}}
      <div class="nav-social right show-on-medium-screen">
        <div class="btn btn-flat" style="height:45px">
          <span><i class="fa fa-facebook"></i></span>
          <span><i class="fa fa-twitter"></i></span>
          <span><i class="fa fa-youtube-play"></i></span>
        </div>
        {{!-- social Panel --}}
        <div class="nav-socialPanel">
          <a href="https://www.facebook.com/godofredo.ninja" target="_blank"><span class="btn btn-flat bg-facebook"><i class="fa fa-facebook"></i></span>Facebook</a>
          <a href="https://twitter.com/GodoFredoNinja" target="_blank"><span class="btn btn-flat bg-twitter"><i class="fa fa-twitter"></i></span>twitter</a>
          <a href="https://github.com/godofredoninja" target="_blank"><span class="btn btn-flat bg-github"><i class="fa fa-github"></i></span>github</a>
          <a href="https://www.youtube.com/GodofredoNinja" target="_blank"><span class="btn btn-flat bg-youtube"><i class="fa fa-youtube-play"></i></span>youtube</a>
          <a href="https://www.linkedin.com/in/godofredoninja" target="_blank"><span class="btn btn-flat bg-linkedin"><i class="fa fa-linkedin"></i></span>linkedin</a>
          <a href="http://codepen.io/GodoFredoNinja/" target="_blank"><span class="btn btn-flat bg-codepen"><i class="fa fa-codepen"></i></span>codepen</a>
          <a href="https://instagram.com/godofredoninja" target="_blank"><span class="btn btn-flat bg-instagram"><i class="fa fa-instagram"></i></span>Instagram</a>
          <a href="https://player.spotify.com/user/godofredoninja/playlist/5MmgsB6AqIrYJ04A9yqJ55" target="_blank"><span class="btn btn-flat bg-spotify"><i class="fa fa-spotify"></i></span>Spotify</a>
          <!-- <a href="https://dribbble.com/godofredoninja" target="_blank"><span class="btn btn-flat bg-dribbble"><i class="fa fa-dribbble"></i></span>dribbble</a> -->
          <!-- <a href="https://www.behance.net/godofredoninja" target="_blank"><span class="btn btn-flat bg-behance"><i class="fa fa-behance"></i></span>behance</a> -->
        </div>
      </div>
    </div>
  </nav>
</div>
