{{!-- Navigation Page --}}
<header id="header" class="header header-topbar u-align-center">

  <div class="header-topbar-left">
    {{!-- Menu open  --}}
    <a href="#" id="menu-open" class="menu-open icon-menu"></a>
    {{!-- Logo and Page Name --}}
    <a class="header-logo u-align-center" href="{{@blog.url}}">{{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}"/>{{else}}<span>{{@blog.title}}</span>{{/if}}</a>
  </div>

  <div class="header-topbar-center">
    {{!-- Form Search --}}
    <form class="search">
      <a href="#" class="search-btn hidden-on-small-screen icon-search"></a>
      <a href="#" id="search-close" class="search-btn show-on-small-screen icon-arrow_back"></a>
      <input class="search-field" type="search" placeholder="Search" autocomplete="off">
      <div id="search-result" class="autocomplete"></div>
    </form>
    {{!-- Open buttom search --}}
    <a href="#" id="search-open" class="search-open show-on-small-screen icon-search"></a>
  </div>

  <div class="header-topbar-right hidden-on-small-screen">
    <div class="header-social u-align-center">
      {{!-- Social navigation --}}
      <div class="header-social-icon"><span class="icon-facebook"></span><span class="icon-twitter"></span><span class="icon-youtube"></span></div>
      {{!-- social Panel --}}
      <div class="header-socialPanel">
        <ul>
          <li><a href="#" target="_blank"><span class="social-img c-facebook icon-fb"></span><span class="social-name">Facebook</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-twitter icon-twitter"></span><span class="social-name">Twitter</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-github icon-github"></span><span class="social-name">GitHub</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-youtube icon-youtube"></span><span class="social-name">YouTube</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-linkedin icon-in"></span><span class="social-name">Linkedin</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-codepen icon-codepen"></span><span class="social-name">Codepen</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-instagram icon-instagram"></span><span class="social-name">Instagram</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-spotify icon-spotify"></span><span class="social-name">Spotify</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-dribbble icon-dribbble"></span><span class="social-name">Dribbble</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-behance icon-behance"></span><span class="social-name">Behance</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-flickr icon-flickr"></span><span class="social-name">Flickr</span></a></li>
          <li><a href="#" target="_blank"><span class="social-img c-google-plus icon-google-plus"></span><span class="social-name">Google +</span></a></li>
        </ul>
      </div>
    </div>
  </div>

</header>

{{!-- Menu page --}}
{{navigation}}
