{{!-- Navigation Page --}}
<div class="navbar-fixed">
  <nav class="Menu">
    <div class="nav-wrapper">
      <div class="u-wrap">
        {{!-- Add Logo --}}
        <a class="Logo brand-logo" href="{{@blog.url}}">{{#if @blog.logo}}<img  class="Logo-img" src="{{@blog.logo}}" alt="{{@blog.title}}"/>{{else}}{{@blog.title}}{{/if}}</a>
        {{!-- Open menu Search --}}
        <a href="#" class="Menu-openSearch"><i class="mdi-action-search"></i></a>

        {{!-- Menu --}}
        {{#if @blog.navigation}}
          {{!-- Open menu desktop --}}
          <a class="Menu-openDesktop" href="#" data-activates="Menuopen"><i class="mdi-navigation-menu"></i></a>

          <div id="Menuopen" class="Menu-desktop hide-on-med-and-down clear white z-depth-1">
            <ul>{{navigation}}</ul>
          </div>

          {{!-- Menu Mobile --}}
          <a href="#" data-activates="menu-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

          <ul class="side-nav" id="menu-mobile">
            {{navigation}}
          </ul>
        {{/if}}

        {{!-- Form --}}
        <div class="Menu-form close">
          <form>
            <div class="input-field">
              <input id="Search" type="search" placeholder="Buscar" required>
              <label for="search"><i class="mdi-action-search"></i></label>
            </div>
            <div class="white z-depth-1" id="Search-results"></div>
          </form>
          <span class="Menu-closeSearch"> <i class="mdi-navigation-close"></i> </span>
        </div>

      </div>
    </div>
  </nav>

</div>
