{{!-- Navigation Page --}}
<div class="navbar-fixed">
  <nav class="Menu">
    <div class="nav-wrapper">
      <div class="u-wrap">
        {{!-- Add Logo --}}
        <a class="Logo brand-logo" href="{{@blog.url}}">{{#if @blog.logo}}<img  class="Logo-img" src="{{@blog.logo}}" alt="{{@blog.title}}"/>{{else}}{{@blog.title}}{{/if}}</a>
        {{!-- Open menu Search --}}
        <a href="#" class="Menu-openSearch"><i class="mdi-action-search"></i></a>
        {{!-- Menu --}}
        {{#if @blog.navigation}}
          {{!-- Open menu desktop --}}
          <a class="Menu-openDesktop left" href="#" data-activates="Menuopen"><i class="mdi-navigation-menu"></i></a>
          {{!-- Menu Desktop --}}
          <div id="Menuopen" class="Menu-desktop hide-on-med-and-down clear white z-depth-1">
            <ul>{{navigation}}</ul>
          </div>
          {{!-- Menu Mobile --}}
          <a href="#" data-activates="menu-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul class="side-nav" id="menu-mobile">
            {{navigation}}
          </ul>
        {{/if}}
        {{!-- Form Search Menu --}}
        <div class="Menu-form close">
          <form>
            <div class="input-field">
              <input id="Search" type="search" placeholder="Buscar" required>
              <label for="search"><i class="mdi-action-search"></i></label>
            </div>
            <div class="white z-depth-1" id="Search-results"></div>
          </form>
          <span class="Menu-closeSearch"> <i class="mdi-navigation-close"></i> </span>
        </div>
        {{!-- Social Content Menu --}}
        <div class="Menu-social right">
          <span class="Menu-social-i icon-facebook"></span>
          <span class="Menu-social-i icon-twitter"></span>
          <span class="Menu-social-i icon-youtube"></span>
          <span class="Menu-social-i icon-github"></span>
          {{!-- social Panel --}}
          <div class="Menu-social-panel z-depth-1 white">
            <div class="row">
              <a href="https://www.facebook.com/godofredo.ninja" class="col s6 valign-wrapper" target="_blank"><i class="icon-facebook"></i>Facebook</a>
              <a href="https://twitter.com/GodoFredoNinja" class="col s6 valign-wrapper" target="_blank"><i class="icon-twitter"></i>twitter</a>
              <a href="https://github.com/godofredoninja" class="col s6 valign-wrapper" target="_blank"><i class="icon-github"></i>github</a>
              <a href="https://www.google.com/+GodofredoNinja" class="col s6 valign-wrapper" target="_blank"><i class="icon-google"></i>google +</a>
              <a href="https://www.youtube.com/GodofredoNinja" class="col s6 valign-wrapper" target="_blank"><i class="icon-youtube"></i>youtube</a>
              <a href="https://www.linkedin.com/in/godofredoninja" class="col s6 valign-wrapper" target="_blank"><i class="icon-linkedin"></i>linkedin</a>
              <a href="https://instagram.com/godofredoninja" class="col s6 valign-wrapper" target="_blank"><i class="icon-instagram"></i>Instagram</a>
              <a href="https://play.spotify.com/user/godofredoninja" class="col s6 valign-wrapper" target="_blank"><i class="icon-spotify"></i>Spotify</a>
            </div>
            <div class="divider"></div>
            <div class="row">
              {{!-- Form Mailchimp --}}
              <form action="//ninja.us10.list-manage.com/subscribe/post?u=5c52d5a541f6ab2e8d6020e82&amp;id=f5f6d462c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  target="_blank" novalidate class="col s12 Menu-social-form">
                <p>Suscríbete a nuestro boletín diario:</p>
                <div class="valign-wrapper">
                  <input id="mce-EMAIL" name="EMAIL" type="email" placeholder="Introduce tu correo electrónico" class="left" required>
                  <button class="btn waves-effect waves-light search-send right" type="submit" name="action"></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

</div>
