{{!-- Navigation Page --}}
<header id="header" class="header">
    <div class="header-wrap">
        <a href="#" id="menu-open" class="menu-open header-btn i-menu hide-after-lg"></a>
        <div class="header-logo">
            <a class="header-logo-link" href="{{@blog.url}}">
                {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}"/>{{else}}<span>{{@blog.title}}</span>{{/if}}
            </a>
        </div>

        <nav class="header-navigation">
            <ul class="header-navigation-wrap u-unstyled hide-before-lg">{{navigation}}</ul>
        </nav>

        <form id="header-search" class="header-search hide-before-md" >
            <div id="searchbox" class="searchbox">
                <input placeholder="Search" type="text" class="search-field" name="q" value="" autocomplete="off">
                <span class="search-icon i-search"></span>
            </div>

            <div class="devsite-popout devsite-popout-closed">
                <div class="devsite-suggest-results" style="display: none;"></div>
            </div>
        </form>

        <a href="#" id="search-open" class="search-open  header-btn i-search hide-after-md"></a>
        <a href="#" id="search-close" style="display:none" class="search-open  header-btn i-close hide-after-md"></a>

        <div class="header-social hide-before-lg"></div>

    </div>

</header>
