{{!-- Header Template --}}
<header class="header u-sizeFullWidth u-bgColor">
    <div class="header-wrap u-flexCenter u-relative">

        <a class="header-logo u-inlineBlock u-flex0" href="{{@blog.url}}">
            {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}"/>{{else}}<span class="u-fontSizeLarge u-fontWeightBolder">{{@blog.title}}</span>{{/if}}
        </a>

        {{!-- Navigation --}}
        <nav class="nav u-flex u-flex1 u-paddingLeft20 u-flexCenter u-hide-before-md">{{navigation}}</nav>

        <div class="header-left u-flex0 u-flex u-flexEnd u-fontSize21">

            {{!-- Facebook adn Twitter --}}
            {{#if @blog.facebook}}<a class="i-facebook u-hide-before-md" href="{{facebook_url}}" rel="nofollow" target="_blank"></a>{{/if}}
            {{#if @blog.twitter}}<a class="i-twitter u-hide-before-md" href="{{twitter_url}}" rel="nofollow" target="_blank"></a>{{/if}}

            {{!-- Box for follow more --}}
            <div class="followMe follow-more u-hide-before-md"></div>

            {{!-- Open Subscribe card --}}
            {{#if @labs.subscribers}}
            <a href="#" class="subscribe-toggle modal-toggle u-relative u-hide-before-md i-email"></a>
            {{/if}}

            {{!-- toggle follow more --}}
            <a href="#" class="follow-toggle u-relative u-fontSizeLarge u-hide u-hide-before-md i-more"></a>
            {{!-- separe --}}
            <span class="header-line u-hide-before-md"></span>
            {{!-- Toggle Search --}}
            <a href="#" class="search-toggle u-relative i-search"></a>
            {{!-- Toggle Menu --}}
            <a href="#" class="menu--toggle u-relative u-hide-after-md"><span></span><span></span><span></span></a>

        </div>
    </div>

    {{!-- Side Nav for Mobile --}}
    {{>"sidenav"}}

</header>
