<header class="header u-sizeFullWidth u-flexCenter">
    <div class="header-wrap u-relative u-flexCenter u-flex--1">
        {{!-- Page Logo and Name --}}
        <a class="header-logo u-inlineBlock u-flex0" href="{{@site.url}}">
            {{#if @site.logo}}
                <img src="{{img_url @site.logo size="s"}}" alt="{{@site.title}}"/>
            {{else}}
                <span class="u-fontSize26 u-fontWeightBold u-lineHeight1">{{@site.title}}</span>
            {{/if}}
        </a>

        {{!-- Navigation --}}
        <nav class="mainMenu u-flex u-flex1 u-paddingLeft20 u-flexCenter u-hide-before-lg">
            {{#if @site.navigation}}{{navigation}}{{/if}}
        </nav>

        <ul class="header-left u-flex0 u-flex u-flexEnd u-unstyled">
            {{!-- Social Media --}}
            <li class="dropdown u-hide-before-lg u-relative">
                <div class="hla u-fontSizeSmaller">Follow <svg class="icon icon--s top2"><use xlink:href="#icon-arrow"></use></svg></div>

                <div class="header-dropdown-menu drop-content u-absolute">
                    {{!-- Social Media --}}
                    <div class="header-social-media drop-border js-social-media u-flex u-marginBottom30 u-paddingBottom20">
                        {{#if @site.facebook}}<a href="{{facebook_url}}" title="Facebook {{@site.facebook}}" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-facebook"></use></svg></a>{{/if}}
                        {{#if @site.twitter}}<a href="{{twitter_url}}"  title="Twitter {{@site.twitter}}" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>{{/if}}
                    </div>

                    {{!-- Members --}}
                    {{#if @labs.members}}
                    <div class="u-textAlignCenter u-marginBottom30">
                        <h5 class="u-fontSize26 u-fontWeightMedium u-marginBottom15">{{t "Subscribe to"}} {{@site.title}}</h5>
                        <div class="u-fontSize15 u-marginBottom20">{{t "Get the latest posts delivered right to your inbox"}}</div>

                        <form class="swf" data-members-form="subscribe">
                            <div class="u-flex">
                                <input
                                    class="subscribe-email u-fontSizeSmaller u-flex1"
                                    data-members-email
                                    placeholder="{{t "youremail@example.com"}}"
                                    aria-label="{{t "Your email address"}}"
                                    aria-describedby="header-subscribe-btn"
                                    autocomplete="off"
                                    required
                                />
                                <button id="header-subscribe-btn" class="button button button--large button--filled u-flex0" type="submit">
                                    <span class="button-text">{{t "Subscribe"}}</span>
                                    {{> "icons/loader"}}
                                </button>
                            </div>
                            <div class="message-success u-hide"><strong>{{t "Great!"}}</strong> {{t "Check your inbox and click the link to confirm your subscription"}}</div>
                            <div class="message-error u-hide">{{t "Please enter a valid email address!"}}</div>
                        </form>
                    </div>
                    {{/if}}
                </div>
            </li>

            {{!-- Active Mapache Dark --}}
            <li><div class="js-dark-mode hla header-dark-mode">
                <svg class="icon icon--m icon--moon top2"><use xlink:href="#icon-moon"></use></svg>
                <svg class="icon icon--m icon--sunny top2 u-hide"><use xlink:href="#icon-sunny"></use></svg>
            </div></li>

            {{!-- Member Login --}}
            {{#if @labs.members}}
            <li class="header-dropdown-menu mp-member-login u-hide-before-lg dropdown u-relative">
                <div class="hla u-relative"><svg class="icon icon--m top2"><use xlink:href="#icon-user"></use></svg></div>

                <div class="drop-content account-menu u-absolute">
                    {{#if @member}}
                        <a href="/account/" class="login drop-border u-flexCenter u-flexContentBetween">
                            <span class="u-fontSizeBase">{{t "Account"}}</span>
                            <svg class="icon icon--m top2 rotate90"><use xlink:href="#icon-arrow-round"></use></svg>
                        </a>
                        <a href="#signout" class="login u-flexCenter u-flexContentBetween" data-members-signout>
                            <span class="u-fontSizeBase">{{t "Log out"}}</span>
                            <svg class="icon icon--m top2 rotate90"><use xlink:href="#icon-arrow-round"></use></svg>
                        </a>
                    {{else}}
                        <a href="/signin/" class="login drop-border u-flexCenter u-flexContentBetween">
                            <span class="u-fontSizeBase">{{t "Log in"}}</span>
                            <svg class="icon icon--m top2 rotate90"><use xlink:href="#icon-arrow-round"></use></svg>
                        </a>
                        <a href="/signup/" class="login u-flexCenter u-flexContentBetween">
                            <span class="u-fontSizeBase">{{t "Sign up"}}</span>
                            <svg class="icon icon--m top2 rotate90"><use xlink:href="#icon-arrow-round"></use></svg>
                        </a>
                    {{/if}}
                </div>
            </li>
            {{/if}}

            {{!-- Toggle Search --}}
            <li class="js-search-open search-toggle u-relative u-hide"><div class="hla"><svg class="icon icon--m top2"><use xlink:href="#icon-search"></use></svg></div></li>
            {{!-- Toggle Menu Mobile --}}
            <li class="u-hide-after-lg" style="margin-right:-10px"><div class="hla menu-burger js-menu-toggle u-relative"><span></span><span></span><span></span></div></li>
        </ul>
    </div>
</header>

{{!-- Sidenav Mobile - partilas/sidenav.hbs --}}
{{>"sidenav"}}