<main id="main" class="container">

	<section class="row layout-wrap layout-row {{^is "paged"}}" style="margin-top:2rem"{{else}}margin-top"{{/is}}>
		<div class="col-gd-left main-post">
			<div id="entry" class="row">
				{{#foreach posts}}
				<article class="col s12 entry-list">
					<div class="entries">
						<div class="row layout-wrap layout-row">
							{{#if image}}
							<figure class="col-gd-post-image image">
								<a href="{{url}}" class="image-link">
									<img src="{{image}}" alt="{{title}}" class="hide-after-lg"/>
									<span class="entries-bg hide-before-lg" style="background-image:url({{image}})"></span>
									{{#has tag="#video"}}<span class="video-play i-play"></span>{{/has}}
								</a>
							</figure>
							{{/if}}
							<div class="{{#if image}}col-gd-post-meta{{else}}col s12{{/if}} entries-meta">
								<div class="tag">{{tags limit="1"}}</div>
								<h2 class="title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2>

								<div class="meta-author-date">
									<span class="comment-count">
										<i class="i-chat"></i>
										<!-- <a class="gd-comment_count scroll" href="{{url}}#comments">
											<span class="fb-comments-count" data-href="{{url absolute="true"}}"></span>
											<span>Comments</span>
										</a> -->
										<a class="gd-comment_count scroll" href="{{url}}#comments" godo-url="{{url absolute="true"}}"> Comments</a>
									</span>
									<i class="point">—</i>
									{{#author}}<span class="author-name">by <strong><a href="{{url}}">{{name}}</a></strong></span>{{/author}}
									<i class="point">—</i>
									<time class="timestamp" datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time>
								</div>

								<div class="entries-excerpt hide-before-lg">{{excerpt words="15"}}</div>
							</div>
						</div>
					</div>
				</article>
				{{/foreach}}
			</div>

			{{! -- Add Pagination -- }}
			{{#is "paged"}}
				{{"pagination"}}
			{{else}}
				<div class="pagination" style="display:none">
					<a href="#" id="pagination" class="pagination-link" mapache-page="{{pagination.pages}}" mapache-limit="{{@blog.posts_per_page}}">Load more</a>
				</div>
			{{/is}}

		</div>

		{{!-- Add Sidebar --}}
		{{> "sidebar"}}

	</section>

</main>
