<nav class="nav-mob u-h-a-lg">
    <div class="nav-mob-content">

        {{navigation}}

        <div class="nav-mob-follow social_box">
            {{#if @blog.facebook}} <a title="Facebook {{@blog.facebook}}" href="{{facebook_url}}" target="_blank" class="i-facebook"></a>{{/if}}
            {{#if @blog.twitter}} <a title="Twitter {{@blog.twitter}}" href="{{twitter_url}}" target="_blank" class="i-twitter"></a>{{/if}}
        </div>

        {{#if @labs.subscribers}}
        <div class="nav-mob-subscribe">
            {{subscribe_form
                form_class="newsletter-form u-flex"
                input_class="form-control"
                button_class="btn btn-primary"
                placeholder="Enter your email address"
                autofocus=""
            }}
        </div>
        {{/if}}

        <div class="nav-mob-copyright">
            &copy; {{date format="YYYY"}} <a href="{{@blog.url}}">{{@blog.title}}</a> Powered by <a href="https://ghost.org" target="_blank">Ghost</a>
            <span>Design with</span> <i class="i-favorite heart"></i> by <a href="https://goo.gl/gCU1yH" target="_blank" title="Desarrollador Web FullStack.">@GodoFredoNinja</a>
        </div>

    </div>
</nav>
