<aside class="sideNav u-absolute0 u-hide-after-lg">
    <div class="sideNav-wrap u-absolute0">
        {{!-- Menu --}}
        {{#if @site.navigation}}
        <nav class="sideNav-item sideNav-menu u-fontSizeBase">
            {{navigation}}
        </nav>
        {{/if}}

        {{!-- Member Login --}}
        {{#if @labs.members}}
        <nav class="sideNav-item u-fontSizeBase u-flex u-flexContentAround mp-member-login">
            {{#if @member}}
                <a href="/account/" class="button button--dark u-fontSizeBase">{{t "Account"}}</a>
                <a href="#signout" class="button button--dark u-fontSizeBase" data-members-signout>{{t "Log out"}}</a>
            {{else}}
                <a href="/signin/" class="button button--dark u-fontSizeBase drop-border">{{t "Log in"}}</a>
                <a href="/signup/" class="button button--dark u-fontSizeBase">{{t "Sign up"}}</a>
            {{/if}}
        </nav>
        {{/if}}

        {{!--follow box --}}
        <div class="sideNav-item sideNav-follow u-flex u-flexContentAround js-social-media">
            {{#if @site.facebook}}<a title="Facebook {{@site.facebook}}" href="{{facebook_url}}" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-facebook"></use></svg></a>{{/if}}
            {{#if @site.twitter}}<a title="Twitter {{@site.twitter}}" href="{{twitter_url}}" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>{{/if}}
        </div>
    </div>
</aside>