{{!-- Sidebar Post Template --}}
{{#if widgetPosts}}
<div class="sidebar-items u-card-shadow">
    <h3 class="sidebar-title">{{widgetTitle}}</h3>

    {{#foreach widgetPosts}}
    <div class="sidebar-post"  {{#unless @last}}style="margin-bottom:20px;padding-bottom:15px;"{{/unless}}>
        {{!-- Image --}}
        <a class="u-relative u-block" href="{{url absolute="true"}}" style="background-color:#f0f0f0;height:145px">
            {{#if feature_image}}
            <span class="sidebar-lazy u-absolute0 u-bg-cover u-block" data-original="{{feature_image}}"></span>
            {{else}}
            <span class="u-not-image u-absolute0 u-block" style="background-image: url({{asset "images/not-image.png"}})"></span>
            {{/if}}
        </a>

        <a href="{{url absolute="true"}}" class="u-block sidebar-featured--link" style="margin-top:15px">
            <h3 class="sidebar-featured--title" style="font-size:18px">{{title}}</h3>
        </a>
    </div>
    {{/foreach}}

</div>
{{/if}}
