<div class="bottom-share col s12 m5">
	<h5>Share this Article</h5>
	<ul class="post-actions post-actions--bottom u-unstyled clear">
		<li><a href="#" class="share btn i-facebook bg-facebook" godo-share="facebook" godo-url="{{url absolute="true"}}"></a></li>
		<li><a href="#" class="share btn i-twitter bg-twitter" godo-share="twitter" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></a></li>
		<li><a href="#" class="share btn i-reddit bg-reddit" godo-share="reddit" godo-url="{{url absolute="true"}}"></a></li>
		<li><a href="#" class="share btn i-linkedin bg-linkedin" godo-share="linkedin" godo-url="{{url absolute="true"}}"></a></li>
		<li class="hide-before-md"><a href="#" class="share btn i-pinterest bg-pinterest" godo-share="pinterest" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></a></li>
		<li class="post-actions-shares">
			<div class="post-actions-shares-count share-count" godo-url="{{url absolute="true"}}">0</div>
			<div class="post-actions-shares-label">shares</div>
		</li>
	</ul>
</div>
