<div class="bottom-share col s12 m5">
    <h5>Share this Article</h5>
    <ul class="post-actions post-actions--bottom u-flex-center u-unstyled">
        <li><a href="#" class="share btn i-facebook bg-facebook" mapache-share="facebook" mapache-url="{{url absolute="true"}}"></a></li>
        <li><a href="#" class="share btn i-twitter bg-twitter" mapache-share="twitter" mapache-title="{{title}}" mapache-url="{{url absolute="true"}}"></a></li>
        <li><a href="#" class="share btn i-reddit bg-reddit" mapache-share="reddit" mapache-url="{{url absolute="true"}}"></a></li>
        <li><a href="#" class="share btn i-linkedin bg-linkedin" mapache-share="linkedin" mapache-url="{{url absolute="true"}}"></a></li>
        <li class="hide-before-md"><a href="#" class="share btn i-pinterest bg-pinterest" mapache-share="pinterest" mapache-title="{{title}}" mapache-url="{{url absolute="true"}}"></a></li>
        <li class="post-actions-shares">
            <div class="post-actions-shares-count share-count" godo-url="{{url absolute="true"}}">0</div>
            <div class="post-actions-shares-label">shares</div>
        </li>
    </ul>
</div>
