<div class="bottom-share col s12 m5">
	<h5>Share this Article</h5>
	<div class="social-share">
		<span class="share btn i-facebook bg-facebook" godo-share="facebook" godo-url="{{url absolute="true"}}"></span>
		<span class="share btn i-twitter bg-twitter" godo-share="twitter" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></span>
		<span class="share btn i-reddit bg-reddit" godo-share="reddit" godo-url="{{url absolute="true"}}"></span>
		<span class="share btn i-pinterest bg-pinterest" godo-share="pinterest" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></span>
		<div style="display:inline-block;margin-right:5px;" godo-url="{{url absolute="true"}}" class="share-count"><strong style="margin-right:5px">0</strong><span>Shares</span></div>
	</div>
</div>
