{{!-- Post Share --}}
<ul class="post-actions post-actions--top u-flex-center u-unstyled">
	<li>
		<a class="post-actions-comment scrolltop" href="#post-comments">
			<i class="i-chat"></i>
			{{!-- Disqus Comments Count --}}
			<span class="disqus-comment-count mapache-disqus" data-disqus-url="{{url absolute="true"}}">0</span>
			{{!-- Facebook Comments Counts --}}
			<span class="fb-comments-count mapache-facebook" data-href="{{url absolute="true"}}">0</span>
		</a>
	</li>
	<li class="post-actions-shares">
		<div class="post-actions-shares-count share-count" godo-url="{{url absolute="true"}}">0</div>
		<div class="post-actions-shares-label">shares</div>
	</li>
	<li><a href="#" class="btn btn-circle-small share i-facebook bg-facebook" godo-share="facebook" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="btn btn-circle-small share i-twitter bg-twitter" godo-share="twitter" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="btn btn-circle-small share i-reddit bg-reddit" godo-share="reddit" godo-url="{{url absolute="true"}}"></a></li>
	<li><a href="#" class="btn btn-circle-small share i-linkedin bg-linkedin" godo-share="linkedin" godo-url="{{url absolute="true"}}"></a></li>
	<li class="u-h-b-md"><a href="#" class="btn btn-circle-small share i-pinterest bg-pinterest" godo-share="pinterest" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></a></li>
	<li class="u-h-b-md"><a href="#" class="btn btn-circle-small share i-pocket bg-pocket" godo-share="pocket" godo-url="{{url absolute="true"}}"></a></li>
</ul>
