<article class="story u-flex u-relative {{#if featured}}featured{{/if}}">
    <div class="story-image u-relative u-overflowHidden u-backgroundColorGrayLight">
        {{!-- Background Image --}}
        <a href="{{url}}" class="story-img-bg lazy-load-image u-absolute0 u-block image-hover u-bgCover" data-src="{{#if feature_image}}{{feature_image}}{{else}}{{asset "images/not-image.jpg"}}{{/if}}"></a>
        {{!-- Media Type - partials/helper/helper-media-type.hbs --}}
        {{> "helper/helper-media-type"}}
    </div>

    <div class="story-body u-flexColumn u-marginTop20 u-relative">
        {{!-- Category and Datetime partials/helper/helper-story-meta --}}
        {{> "helper/helper-story-meta"}}

        {{!-- Title --}}
        <h2 class="u-fontSize20 u-lineHeightTight u-marginBottom10">
            <a href="{{url}}" class="u-relative zindex4">{{title}}</a>
        </h2>

        {{!-- excerpt --}}
        {{!-- <div class="story-lower u-relative u-overflowHidden u-flexColumnTop u-hide-after-mdf">
            <p class="story-excerpt">{{excerpt words="25"}}</p>
        </div> --}}

        {{!-- Link Story Wrap --}}
        <a href="{{url}}" class="u-absolute0 u-zindex2"></a>
    </div>
</article>
