<article class="h-cover-items u-relative u-floatLeft {{#if @first}}firts{{/if}}">
    <div class="h-cover-inner u-relative u-bgDark u-overflowHidden">
        {{!-- Imagenes --}}
        {{#if feature_image}}
            <a href="{{url}}">
                <img class="h-cover-img u-absolute u-image u-block"
                    src="{{img_url feature_image size="m"}}"
                    srcset="{{img_url feature_image size="s"}} 300w, {{img_url feature_image size="m"}} 600w, {{img_url feature_image size="l"}} 1000w"
                    sizes="(max-width: 1000px) 400px, 700px"
                    alt="{{title}}"
                />

                <div class="h-cover-bg u-absolute0 zindex2"></div>
            </a>
        {{/if}}

        <header class="h-cover-header u-absolute u-textColorWhite zindex2">
            {{!-- Category and Datetime partials/helper/helper-story-meta --}}
            {{> "helper/helper-story-meta"}}

            {{!-- Title --}}
            <h2 class="h-cover-title u-lineHeightTight {{#if @first}}u-fontSizeJumbo u-md-fontSize36{{else}}u-fontSize28{{/if}}">
                <a class="u-block" href="{{url}}">{{title}}</a>
            </h2>
        </header>
    </div>
</article>