{{#if @labs.members}}
<div class="sidebar-items witget-subscribe u-marginBottom30 u-textAlignCenter">
    <h5 class="u-fontSizeLarge u-textColorDarker u-marginBottom20 u-fontWeightMedium">{{t "Newsletter"}}</h5>
    <div class="u-fontSize15 u-marginBottom20">{{t "Stay up to date! Get all the latest & greatest posts delivered straight to your inbox"}}</div>

    <form class="witget-subscribe--form swf" data-members-form="subscribe">
        <div class="form-group">
            <input
                class="subscribe-email u-fontSize15 u-block u-marginBottom10"
                data-members-email
                placeholder="{{t "youremail@example.com"}}"
                aria-label="{{t 'Your email address'}}"
                aria-describedby="sidebar-subscribe-btn"
                autocomplete="off"
                required
            />
            <button id="sidebar-subscribe-btn" class="button primary button button--filled u-textUppercase u-sizeFullWidth" type="submit">
                <span class="button-text"><svg class="icon"><use xlink:href="#icon-send"></use></svg> {{t "Subscribe"}}</span>
                {{> "icons/loader"}}
            </button>
        </div>
        <div class="message-success u-hide"><strong>{{t "Great!"}}</strong> {{t "Check your inbox and click the link to confirm your subscription"}}</div>
        <div class="message-error u-hide">{{t "Please enter a valid email address!"}}</div>
    </form>
</div>
{{/if}}