{{!< default}}

{{#author}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "mapache_class_body"}}is-author {{^is "paged"}}is-pagination{{/is}} {{#if cover_image}}has-cover is-transparency{{/if}}{{/contentFor}}

<div class="author u-relative u-flexCenter u-flexColumn u-paddingBottom30 u-paddingTop30 {{#if cover_image}}u-marginBottom30 has--image u-boxShadowBottom has-cover-padding{{/if}}">
    {{!-- Cover Background --}}
    {{#if cover_image}}
    <div class="u-absolute0 u-backgroundDark"></div>
    <div class="cover-opacity lazy-load-image u-absolute0 u-bgCover zindex2 u-block" data-src="{{cover_image}}"></div>
    {{/if}}

    <article class="author-wrap u-relative u-maxWidth1040 u-container u-textAlignCenter zindex3">
        {{!-- Avatar --}}
        <div  class="author-avatar u-relative u-marginBottom30 animated bounceInDown u-round u-bgCover u-marginAuto {{^if profile_image}}no-avatar{{/if}}" style="background-image:url({{profile_image}})">
            <div class="u-absolute u-accentColor--iconNormal svgIcon" style="width:calc(100% + 14px);height:calc(100% + 14px);top:-7px;left:-7px;">
                {{> "icons/halo"}}
            </div>
        </div>

        {{!-- Name --}}
        <h1 class="author-name animated bounceIn u-fontSize36 u-md-fontSizeBase u-marginBottom30">{{name}}</h1>

        {{!-- Biography --}}
        {{#if bio}}<p class="author-bio u-marginAuto u-paddingBottom30">{{bio}}</p>{{/if}}

        {{!-- Location - website - RSS --}}
        <div class="author-meta u-paddingBottom30">
            {{#if location}}<span><i class="i-location"></i> {{location}}</span>{{/if}}
            {{#if website}}<span><a href="{{website}}" target="_blank" rel="nofollow noopener noreferrer"><i class="i-link"></i> {{website}}</a></span>{{/if}}
            <span><a href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" target="_blank" rel="nofollow noopener noreferrer"><i class="i-rss"></i> {{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</a></span>
        </div>

        {{!-- Facebook and Twitter --}}
        <div class="author-follow buttonSet">
            {{#if facebook}}<a class="button button--primary u-borderRadius2 u-fontSizeSmall" href="{{facebook_url}}" title="Facebook" target="_blank" rel="nofollow noopener noreferrer"><i class="i-facebook"></i> Facebook</a>{{/if}}
            {{#if twitter}}<a class="button button--primary u-borderRadius2 u-fontSizeSmall" href="{{twitter_url}}" title="{{twitter}}" target="_blank" rel="nofollow noopener noreferrer"><i class="i-twitter"></i> Twitter</a>{{/if}}
        </div>
    </article>
</div>

{{/author}}

{{!-- Ad --}}
{{> "ad/ad-author-tag-top"}}

<section class="extreme-container">
{{!-- The tag below includes the post loop - partials/loop.hbs --}}
{{>"loop"}}
</section>

{{!-- Ad --}}
{{> "ad/ad-author-tag-footer"}}
