{{!< default}}

{{#author}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "mapache_class_body"}}is-author{{/contentFor}}
{{#contentFor "mapache_class_site_main"}}pb4{{/contentFor}}

<section class="author extreme-container u-marginBottom40">
    <div class="author-inner u-flex u-flexCenter">
        <div class="author-left">
            {{!-- Avatar --}}
            <figure  class="author-avatar u-relative">
                <img class="u-absolute u-image u-block u-round" src="{{#if profile_image}}{{img_url profile_image size="s"}}{{else}}{{asset "images/avatar.png"}}{{/if}}" alt="{{name}}"/>
            </figure>
        </div>

        <div class="author-right">
            {{!-- Name --}}
            <h1 class="author-name u-fontSizeLargest u-md-fontSizeLarger u-marginBottom15">{{name}}</h1>

            {{!-- Biography --}}
            {{#if bio}}<p class="author-bio u-marginAuto u-marginBottom15">{{bio}}</p>{{/if}}

            {{!-- Location - website - RSS --}}
            <div class="author-meta u-marginBottom15">
                {{#if location}}<span> {{> "icons/map"}} {{location}}</span>{{/if}}
                {{#if website}}<span><a href="{{website}}" target="_blank"><svg class="icon top2"><use xlink:href="#icon-link"></use></svg> {{website}}</a></span>{{/if}}
            </div>

            {{!-- Facebook and Twitter --}}
            <div class="author-follow buttonSet">
                {{#if facebook}}<a class="button u-borderRadius2 u-fontSizeSmall fb" href="{{facebook_url}}" title="Facebook" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-facebook"></use></svg> Facebook</a>{{/if}}
                {{#if twitter}}<a class="button u-borderRadius2 u-fontSizeSmall tw" href="{{twitter_url}}" title="{{twitter}}" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg> Twitter</a>{{/if}}
                <a class="button u-borderRadius2 u-fontSizeSmall rs" href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" target="_blank" rel="noopener noreferrer">
                    <svg class="icon"><use xlink:href="#icon-rss"></use></svg>
                    {{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}
                </a>
            </div>
        </div>
    </div>

    <div class="title-line u-marginBottom30">
            <span class="u-oblique">{{t "Stories by"}} {{name}}</span>
    </div>
</section>

{{/author}}
<section class="extreme-container">
    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{>"loop"}}
</section>