{{!-- Add Layout --}}
{{!< default}}
{{#author}}
<div class="row">
  <article class="Header col s12">
    <div class="u-wrap">
      <div class="{{#if cover}}u-cover" style="background-image: url({{cover}}){{/if}}">
        {{!-- Avatar author --}}
        <figure class="Header-profile">
          <img class="Header-avatar" src="{{#if image}}{{image}}{{else}}{{asset "img/user-image.png"}}{{/if}}" alt="{{name}}" />
        </figure>
      </div>
      <header class="Header-info u-border clear">
        {{!-- Tag Name --}}
        <h1 class="Header-title">{{name}}</h1>
        {{!-- Tag Description --}}
        <p class="Header-description " itemprop="description">{{bio}}</p>
        {{!-- Meta Author location website --}}
        <div class="Header-meta">
          {{#if location}}<span class="Header-location"><i class="mdi-communication-location-on"></i>  {{location}}</span>{{/if}}
          {{#if website}}<span><a class="Header-website" href="{{website}}"><i class="mdi-social-public"></i> WebSite</a></span>{{/if}}
          <span class="Header-post"><i class="mdi-av-equalizer"></i> {{plural ../pagination.total empty='No Posts' singular='% Post' plural='% Posts'}}</span>
        </div>
      </header>
    </div>
  </article>
</div>
{{/author}}
{{!-- Add Loop --}}
{{> "loop"}}
