{{!-- Add Layout --}}

{{!< default}}

{{#author}}
<section id="cover" class="cover author u-flex-wrap">
    {{!-- Image featured --}}
    {{#if cover_image}}
        <div class="u-absolute0 u-block u-bg-gradient" style="background-color:#000"></div>
        <div class="cover-background cover-lazy u-absolute0 u-bg-cover u-block" style="opacity:0.5" data-original="{{cover_image}}"></div>
    {{/if}}

    <article class="cover-wrap u-flex-aling-center">
        <div class="author-header">
            <div  class="author-avatar animated bounceInDown u-not-avatar" {{#if profile_image}}style="background-image:url({{profile_image}})"{{/if}} alt="{{name}}"> </div>
            <div class="author-name-wrap animated bounceIn">
                <span class="author-title">{{t "Author"}}</span>
                <h1 class="author-name">{{name}}</h1>
            </div>
        </div>

        {{#if bio}}<p class="author-bio" itemprop="description">{{bio}}</p>{{/if}}

        <div class="author-meta">
            {{#if location}}<span class="author-location"><i class="i-flag"></i> {{location}}</span>{{/if}}
            {{#if website}}<span class="author-link"><i class="i-link"></i> <a href="{{website}}">{{website}}</a></span>{{/if}}
            <span class="author-stats"><i class="i-feed"></i> {{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</span>
        </div>

        {{!-- Author location website --}}
        <div class="author-follow">
            {{#if facebook}}<a href="{{facebook_url}}" title="Facebook" target="_blank"><i class="i-facebook"></i> Facebook</a>{{/if}}
            {{#if twitter}}<a href="{{twitter_url}}" title="{{twitter}}" target="_blank"><i class="i-twitter"></i> Twitter</a>{{/if}}
        </div>
    </article>

    <a href="#ScrollBody" class="scrolltop mouse u-h-b-md"><span class="scroll"></span></a>
</section>
{{/author}}

{{!-- Add Loop --}}
{{> "loop"}}
