{{!-- Add Layout --}}
{{!< default}}
{{#author}}
<section id="cover" class="cover">
    {{#if cover}}<div class="background" style="background-image: url({{cover}})"></div>{{/if}}
    <article class="cover-wrap author">
        <div class="info">
            <div  class="avatar animated bounceInDown hide-before-md" style="background-image:url({{#if image}}{{image}}{{else}}{{asset "img/user-image.png"}}{{/if}})" alt="{{name}}"> </div>
            <div class="name-wrap animated bounceIn">
                <span class="title">Author</span>
                <h1 class="name">{{name}}</h1>
            </div>
        </div>

        <p class="description" itemprop="description">{{bio}}</p>
        {{!-- Author location website --}}
        <div class="author-meta hide-before-lg">
            {{#if location}}<span class="location"><i class="i-map"></i> {{location}}</span>{{/if}}
            {{#if website}}<span><a class="website btn" href="{{website}}"><i class="i-link"></i> WebSite</a></span>{{/if}}
            <span class="number-post">{{plural ../pagination.total empty='No Posts' singular='% Post' plural='% Posts'}} <i class="i-feed"></i></span>
        </div>
    </article>
    <a href="#main" class="scrolltop mouse hide-before-md"><span class="scroll"></span></a>
</section>
{{/author}}
{{!-- Add Loop --}}
{{> "loop"}}
