{{!-- Layout --}}
{{!< default}}

<section class="topic u-container extreme-container u-paddingTop30">

{{#get "tags" limit="18" include="count.posts" order="count.posts desc"}}

<div class="row">

    {{#foreach tags}}

    <div class="col s12 m6 l4 u-marginBottom30">
        <div class="topic-items u-relative u-textColorWhite u-overflowHidden">
            {{!-- Image - partials/helper/helper-story-image.hbs --}}
            {{> "helper/helper-story-image"}}

            <div class="topic-gradient u-absolute0"></div>
            <h3 class="u-fontSize20 u-fontWeightMedium u-absolute zindex2 u-textShadow u-textCapitalize" style="bottom:30px;left:20px">
                <a href="{{url}}">{{name}} <span class="u-fontSizeSmall">({{count.posts}})</span> </a>
            </h3>
            {{!-- Link --}}
            <a href="{{url}}" aria-label="{{name}}" class="u-absolute0 zindex3"></a>
        </div>
    </div>

    {{/foreach}}

</div>

{{/get}}

</section>
