{{!-- Layout --}}
{{!< default }}

{{#contentFor "mapache_class_body"}}is-article-single{{/contentFor}}

{{!-- Ad --}}
{{> "ad/ad-post-header"}}

<div class="u-container u-maxWidth740 u-marginTop30">
    {{!-- Title & Excerpt - partials/article/article-header.hbs --}}
    {{> "article/article-header"}}

    {{!-- Article Author - partials/article/article-author.hbs --}}
    {{> "article/article-author"}}
</div>

{{#post}}
    {{#if feature_image}}
        <figure class="post-image u-block u-marginAuto u-maxWidth1000">
            <img class="u-block u-marginAuto"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 400px) 300px,(max-width: 730px) 600px, (max-width: 1600px) 1000px"
                src="{{img_url feature_image size="xl"}}"
                alt="{{title}}"
                data-action="zoom"
            />
        </figure>
    {{/if}}
{{/post}}

<section class="post u-maxWidth740 u-container u-marginAuto u-marginTop20 u-marginBottom40">
    {{!-- Article Content - partials/article/article-body.hbs --}}
    {{> "article/article-body"}}
</section>

{{!-- Comments partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{!-- Instagram partials/widget/widget-instagram.hbs --}}
{{> "widget/widget-instagram"}}
