<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />
  {{!-- icon  --}}
  <link rel="icon" sizes="192x192" href=" {{asset "img/icon.png"}}" />
  <link href='//fonts.googleapis.com/css?family=Roboto:500,400italic,300,300italic,700,500italic,400' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{asset "css/style.min.css"}}">
  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body>
  <div class="landing">
  {{!-- Add Header --}}
  {{> "header"}}
  {{!-- Add Content Body --}}
  {{{body}}}
  {{!-- Add footer --}}
  {{> "footer"}}
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}
  <script src="{{asset "js/vendor.min.js"}}"></script>
  <script src="{{asset "js/app.min.js"}}"></script>
  <!-- facebook Script -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
