{{!-- Layouts --}}
{{!< default}}

{{!-- Featured Post --}}
<div class="mx-auto p-4 grid gap-8 lg:grid-cols-5">
{{#get "posts" include="tags" limit="3" filter="featured:true" as |post_featured|}}

{{#foreach post_featured}}
    <article class="story-fashion img-hover relative bg-gray-100{{#if @first}} h-96 firts md:col-span-2 lg:h-full lg:col-span-3 lg:row-span-4{{else}} lg:col-span-2 lg:row-span-2 h-72{{/if}}">
        <div class="h-full relative overflow-hidden">
            {{!-- Featured Image ./partials/components/featured-image.hbs --}}
            {{#if feature_image}}<a href="{{url}}">{{> "components/featured-image"}}</a>{{/if}}

            <header class="absolute bg-blank z-3 bottom-0 pt-3 pr-3 left-0" style="right: 20%;">
                {{!-- Category and Datetime partials/components/primary-tag.hbs --}}
                {{> "components/primary-tag"}}

                <h2 class="text-title hover:text-primary font-semibold text-2xl{{#if @first}} md:text-4xl{{/if}}">
                    <a class="block" href="{{url}}">{{title}}</a>
                </h2>

                {{#if @first}}<p class="text-lg text-gray-500 hidden mt-4 lineClamp-2 lg:block">{{excerpt}}</p>{{/if}}
            </header>
        </div>
    </article>
{{/foreach}}

</div>
{{/get}}

{{!-- Latest Post --}}
<div class="post-fluid px-4 py-10">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 js-post-feed">

    {{#foreach posts visibility="all"}}
        <article class="js-story relative mb-8{{#unless feature_image}} flex flex-col justify-center p-8 bg-gray-100 rounded{{/unless}}">
                {{#if feature_image}}
                <figure class="relative mb-4 overflow-hidden img-hover bg-gray-100" style="padding-bottom: 66.66667%;">
                    {{!-- Featured Image ./partials/components/featured-image.hbs --}}
                    <a href="{{url}}">{{> "components/featured-image"}}</a>
                </figure>
                {{/if}}

            {{!-- Category and Datetime partials/components/primary-tag.hbs --}}
            {{> "components/primary-tag"}}

            <h2 class="text-title hover:text-primary mb-3 font-semibold text-26">
                <a href="{{url}}" class="block">{{title}}</a>
            </h2>

            <p class="text-lg mb-4 text-gray-500{{#if feature_image}} lineClamp-2{{/if}}">{{excerpt words="25"}}</p>

            {{!-- Article Author only Name - partials/components/author-meta.hbs --}}
            {{> "components/author-meta" onlyName=true}}
        </article>
    {{/foreach}}

    </div>

    {{pagination}}
</div>