{{!-- Layouts --}}
{{!< default}}

{{#contentFor "mapache_class_body"}}is-blog{{/contentFor}}

<div class="extreme-container story-feed">
    <div class="u-maxWidth1000 u-marginAuto story-feed-content">

    {{#foreach posts}}

        <article class="entry u-relative u-overflowHidden">
            <header class="entry-header u-marginAuto u-maxWidth740 u-marginBottom30">
                {{!-- Category and Datetime partials/helper/helper-story-meta --}}
                {{> "helper/helper-story-meta"}}

                <h2 class="entry-title u-fontSizeJumbo u-md-fontSize36 "><a href="{{url}}">{{title}}</a></h2>
            </header>

            {{#if feature_image}}
            <figure class="entry-image u-relative u-overflowHidden">
                <a href="{{url}}" class="entry-image-link">
                    <img class="u-absolute0 u-image u-block blur-up lazyload"
                        src="{{img_url feature_image size="l"}}"
                        srcset="{{img_url feature_image size="xxs"}}"
                        data-srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w,
                                {{img_url feature_image size="l"}} 1000w,
                                {{img_url feature_image size="xl"}} 2000w"
                        data-sizes="(max-width: 800px) 400px, (max-width: 1170px) 700px, 1400px"
                        alt="{{title}}"
                    />
                    <div class="entry-bg u-absolute0 u-bgOpacity"></div>
                </a>
            </figure>
            {{/if}}

            <div class="entry-body u-marginAuto u-maxWidth740">
                <p class="story-excerpt u-block u-fontSizeBase u-paddingBottom30">{{excerpt words="60"}}</p>
                <a href="{{url}}" class="more-link u-fontSizeSmall">{{t "Continue reading"}}</a>
            </div>
        </article>

        <div class="entry-divider u-marginAuto u-maxWidth740"><hr></div>

    {{/foreach}}

    </div>
</div>