{{!-- Add Layout --}}
{{!< default}}

{{#post}}

<main class="container">
    <section class="row main-wrap layout-wrap layout-row margin-top">
        <article class="col-gd-left post">

            <h1 class="title">{{title}}</h1>

            {{!-- author, date, tag, comments - share count and btn share--}}
            <div class="meta clear">
                <div class="meta-author-date">
                    {{#author}}<span class="author-name">By <strong><a href="{{url}}">{{name}}</a></strong></span>{{/author}}
                    <i class="point">·</i>
                    <span class="timestamp"><time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time> <span>in</span></span>
                    <span class="tag">{{tags limit="1"}}</span>
                    <i class="point">·</i>
                    <span class="comment-count"><i class="i-chat"></i> <a href="#">9 Comments</a></span>
                </div>
                <aside class="social-share">
                    <div style="display:inline-block;margin-right:5px;"><span godo-url="{{url absolute="true"}}" class="share-count">0</span><span>Shares</span></div>
                    <span class="share i-facebook c-facebook" godo-share="facebook" godo-url="{{url absolute="true"}}"></span>
                    <span class="share i-twitter c-twitter" godo-share="twitter" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></span>
                    <span class="share i-reddit c-reddit" godo-share="reddit" godo-url="{{url absolute="true"}}"></span>
                    <span class="share i-pinterest c-pinterest" godo-share="pinterest" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></span>
                    <span class="share i-pocket c-pocket" godo-share="pocket" godo-url="{{url absolute="true"}}"></span>
                </aside>
            </div>

            {{#if image}}<figure class="post-image"><img src="{{image}}" alt="{{title}}" class="img-responsive"/></figure>{{/if}}

            <div class="post-content">{{content}}</div>

            {{#if tags}}<div class="tags">{{#foreach tags}}<a href="{{url}}" title="{{name}}" class="btn tag">{{name}}</a>{{/foreach}}</div>{{/if}}

            <div class="row main-wrap layout-wrap layout-row share-subscribe">
                {{!-- share post --}}
                <div class="bottom-share col s12 m5">
                    <h5>Share this Article</h5>
                    <div class="social-share">
                        <span class="share btn i-facebook bg-facebook" godo-share="facebook" godo-url="{{url absolute="true"}}"></span>
                        <span class="share btn i-twitter bg-twitter" godo-share="twitter" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></span>
                        <span class="share btn i-reddit bg-reddit" godo-share="reddit" godo-url="{{url absolute="true"}}"></span>
                        <span class="share btn i-pinterest bg-pinterest" godo-share="pinterest" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></span>
                        <div style="display:inline-block;margin-right:5px;"><span godo-url="{{url absolute="true"}}" class="share-count">0</span><span>Shares</span></div>
                    </div>
                </div>
                {{!-- subscribe --}}
                <div id="subscribe" class="bottom-subscribe col s12 m7">
                    <h5>Subscribe to {{@blog.title}}</h5>
                    <p>Receive updates to our latest news, features and exclusive.</p>
                    <form class="newsletter-form" action="" method="post">
                        <div class="input-group">
                            <input class="form-control newsletter-email" name="newsletter-email" size="16" type="email" placeholder="Enter your email address" required="required">
                            <span class="input-group-btn"><button class="btn btn-primary" type="submit">Sign Up</button></span>
                        </div>
                    </form>
                </div>
            </div>

            <div id="comments" class="comments"></div>

        </article>
        {{!-- Add Sidebar --}}
        {{> "sidebar"}}

    </section>
</main>
{{/post}}
