{{!-- Add Layout --}}
{{!< default}}

{{#post}}

<section class="container">
    <div class="post-wrapper">
        <div class="row">

            {{!-- Video Post format  --}}
            {{#has tag="#video-post-format"}}
                <div id="video-format" class="col s12 video-wrap">
                    <aside class="video-responsive video-featured"></aside>
                    <div class="video-content u-h-b-md" style="display:none">
                        <span class="channel-name"></span>
                        <span class="youtube-subscribe"><div class="g-ytsubscribe" data-channelid="" data-layout="default" data-count="default"></div></span>
                    </div>
                </div>
            {{/has}}

            {{!-- Image Post Format  --}}
            {{#has tag="#image-post-format"}}
                {{#if image}}
                    <figure class="col s12 post-image">
                        <img src="{{image}}" alt="{{title}}"/>
                    </figure>
                {{/if}}
            {{/has}}

            <div class="col s12 content">
                {{!-- Post Section  --}}
                <article class="post">

                    {{!-- Post Header --}}
                    <header class="post-header">
                        <h1 class="post-title">{{title}}</h1>

                        {{!-- author, date, tag --}}
                        <div class="post-byline">
                        {{#author}}
                            <a class="post-author-avatar u-h-b-md" href="{{url}}" style="background-image:url({{#if image}}{{image}}{{else}}{{asset "img/user-image.png"}}{{/if}})"></a>
                            By <strong><a href="{{url}}">{{name}}</a> — </strong>
                        {{/author}}
                            <time class="timestamp" datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time>
                            in {{tags limit="1"}}
                        </div>
                    </header>

                    {{!-- Add Post Image --}}
                    {{^has tag="#image-post-format"}}
                        {{#if image}}<figure class="post-image"><img class="post-img" src="{{image}}" alt="{{title}}" /></figure>{{/if}}
                    {{/has}}

                    {{!-- Post share top --}}
                    {{> "widget-post-share" }}

                    {{!-- Post content body --}}
                    <div class="post-body">{{content}}</div>

                    {{!-- Post All Tags (category) --}}
                    {{#if tags}}<div class="post-tags">{{#foreach tags}}<a href="{{url}}" title="{{name}}" class="btn u-tags i-tag">{{name}}</a>{{/foreach}}</div>{{/if}}

                    {{!-- post Share Button and Suscribe newsletter --}}
                    <div class="row share-subscribe">
                        {{> "widget-share" }}
                        {{> "widget-newsletter" }}
                    </div>

                    {{!-- Post author info --}}
                    {{> "widget-post-author" }}

                    {{!-- post Comments Section --}}
                    <div id="post-comments" class="post-comments">
                        <div id="disqus_thread" class="mapache-disqus"></div>
                        {{!-- Comments section for facebook --}}
                        <div class="fb-comments mapache-facebook" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="5"></div>
                    </div>

                    {{!-- post Related Numero 6--}}
                    {{/post}} {{> "widget-post-related" }} {{#post}}

                </article>
            </div>

            {{> "sidebar"}}

        </div>
    </div>
</section>

{{!-- Post next and Prev --}}
{{#prev_post}}<a class="prev-post u-h-b-lg i-navigate_before" href="{{url}}">Read Prev Post</a>{{/prev_post}}
{{#next_post}}<a class="next-post u-h-b-lg i-navigate_next" href="{{url}}">Read Next Post</a>{{/next_post}}

{{/post}}
