{{!-- Add Layout --}}
{{!< default}}

{{#post}}

<main class="container">
	<section class="row main-wrap layout-wrap layout-row margin-top">
		<article class="col-gd-left post">

			<h1 class="title">{{title}}</h1>

			{{!-- author, date, tag, comments - share count and btn share--}}
			<div class="meta clear">
				<div class="meta-author-date">
					{{#author}}<span class="author-name">By <strong><a href="{{url}}">{{name}}</a></strong></span>{{/author}}
					<i class="point">·</i>
					<span class="timestamp"><time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time> <span>in</span></span>
					<span class="tag">{{tags limit="1"}}</span>
					<i class="point">·</i>
					<span class="comment-count"><i class="i-chat"></i> <a class="gd-comment_count scrolltop" href="#comments" godo-url="{{url absolute="true"}}">0 Comments</a></span>
				</div>
				<aside class="social-share">
					<div style="display:inline-block;margin-right:5px;" godo-url="{{url absolute="true"}}" class="share-count"><strong style="margin-right:5px">0</strong><span>Shares</span></div>
					<span class="share i-facebook c-facebook" godo-share="facebook" godo-url="{{url absolute="true"}}"></span>
					<span class="share i-twitter c-twitter" godo-share="twitter" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></span>
					<span class="share i-reddit c-reddit" godo-share="reddit" godo-url="{{url absolute="true"}}"></span>
					<span class="share i-pinterest c-pinterest" godo-share="pinterest" godo-title="{{title}}" godo-url="{{url absolute="true"}}"></span>
					<span class="share i-pocket c-pocket" godo-share="pocket" godo-url="{{url absolute="true"}}"></span>
				</aside>
			</div>

			{{#if image}}<figure class="post-image"><img src="{{image}}" alt="{{title}}" class="img-responsive"/></figure>{{/if}}

			<div class="post-content">{{content}}</div>

			{{#if tags}}<div class="tags">{{#foreach tags}}<a href="{{url}}" title="{{name}}" class="btn btn-shadow tag">{{name}}</a>{{/foreach}}</div>{{/if}}

			<div class="row main-wrap layout-wrap layout-row share-subscribe">
				{{> widget-share}}
				{{> widget-newsletter}}
			</div>

			<div id="comments" class="comments" style="display:none"><div id="disqus_thread"></div></div>

			{{> "related"}}

		</article>
		{{!-- Add Sidebar --}}
		{{> "sidebar"}}

	</section>
</main>
{{/post}}
