{{!-- Add Layout --}}
{{!< layout}}
<div class="row">
  <article class="Tag center col s12 clear {{#if tag.image}}cover" style="background-image: url({{tag.image}}){{/if}}">
    <header class="Tag-wrap">
      <div class="Tag-info">
        <h1 class="Tag-title"><i class="mdi-action-label"></i> {{tag.name}}</h1>
        <p class="Tag-description">{{#if tag.description}}{{tag.description}}{{else}}Una Colección de {{pagination.total}} Artículos{{/if}}</p>
      </div>
    </header>
  </article>
</div>



{{!-- Add Loop --}}
{{> "loop"}}
