{{!-- Add Layout --}}
{{!< default}}
<section id="cover" class="cover">
    {{#if tag.image}}<div class="background"><span style="background-image: url({{tag.image}})"></span></div>{{/if}}
    <article class="cover-wrap">
        {{!-- Tag name --}}
        <h1 class="cover-title">{{tag.name}}</h1>
        {{!-- tag description --}}
        <p class="cover-description">{{#if tag.description}}{{tag.description}}{{else}}A collection of {{pagination.total}} Articles{{/if}}</p>
    </article>
    <div class="mouse hide-before-md"><span class="scroll"></span></div>
</section>
{{!-- Add Loop --}}
{{> "loop"}}
