{{!< default}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "mapache_class_body"}}is-tag{{/contentFor}}

{{!-- Ad --}}
{{> "ad/ad-author-tag-top"}}

<section class="extreme-container">
    {{#tag}}
        <div class="tag u-relative u-textAlignCenter u-textAlignCenter u-flexCenter u-marginTop30 u-marginBottom30 {{#if feature_image}}u-textColorWhite has-image{{else}}u-textColorDarker{{/if}}">
            {{#if feature_image}}
                <img class="u-absolute u-image u-block lazyload"
                    src="{{img_url feature_image size="m"}}"
                    srcset="{{img_url feature_image size="xxs"}}"
                    data-srcset="{{img_url feature_image size="s"}} 300w, {{img_url feature_image size="m"}} 600w, {{img_url feature_image size="l"}} 1000w"
                    data-sizes="(max-width: 1000px) 400px, 700px"
                    alt="{{title}}"
                />
                <div class="u-bgGradient u-absolute0 zindex2"></div>
            {{/if}}

            <div class="tag-body u-relative u-maxWidth740 u-container zindex3 u-fontSize20">
                <h1 class="tag-title u-fontSize36 u-md-fontSizeBase">{{name}}</h1>
                <p class="u-marginTop20 u-fontSizeBase">Total {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}</p>
                {{#if description}}<p class="tag-description u-marginTop20 u-fontWeightThin">{{description}}</p>{{/if}}
            </div>
        </div>
    {{/tag}}

    {{!-- lates post --}}
    {{> "loop"}}
</section>

{{!-- Ad --}}
{{> "ad/ad-author-tag-footer"}}
