{{!-- Add Layout --}}
{{!< default}}
<header class="godo-cover {{#if tag.image}}cover" style="background-image: url({{tag.image}}){{/if}}">
  <article class="godo-cover-wrap">
    {{!-- Tag name --}}
    <h1 class="godo-cover-title">{{tag.name}}</h1>
    {{!-- tag description --}}
    <p class="godo-cover-description">{{#if tag.description}}{{tag.description}}{{else}}A collection of {{pagination.total}} Articles{{/if}}</p>
  </article>
</header>
{{!-- Add Loop --}}
{{> "loop"}}
