{{#post}}
{{!-- Background --}}
<div class="page-hero-bg">
    <img
        class="u-absolute u-sizeFullWidth"
        src="{{asset "images/crystal-mountain.png"}}"
        srcset="{{asset "images/crystal-mountain.png"}}, {{asset "images/crystal-mountain@2x.png"}} 2x"
        style="z-index: -1"
        alt=""
    />
</div>

<div class="page-hero-wrap">
    <div class="page-hero-inner u-container u-maxWidth1000 u-textAlignCenter u-sizeFullWidth">
        <h1 class="page-hero-name u-fontSizeJumbo u-fontWeightNormal u-md-fontSize36">{{title}}</h1>
        <div class="page-hero-content u-fontWeightThin u-fontSize20 u-maxWidth740 u-marginAuto">{{content}}</div>
    </div>
</div>
{{/post}}