<div class="row mob-share u-marginTop30 u-hide-after-lg">
    <div class="col s6">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
            target="_blank"
            rel="noopener noreferrer"
            title="{{t "Share on"}} Facebook"
            class="mbsl i-facebook bg-facebook u-fontSize20"
            onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
        </a>
    </div>

    <div class="col s6">
        <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
            target="_blank"
            rel="noopener noreferrer"
            title="{{t "Share on"}} Twitter"
            class="mbsl i-twitter bg-twitter u-fontSize20"
            onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
        </a>
    </div>
</div>
