{{#post}}

<div class="post-header">
    {{!-- Article Category --}}
    {{#if primary_tag}}{{#primary_tag}}
        <div class="post-primary-tag u-marginBottom10 u-hide">
            <a href="{{url}}" title="{{name}}" class="u-oblique">{{name}}</a>
        </div>
    {{/primary_tag}}{{/if}}

    {{!-- Article Title --}}
    <h1 class="post-title u-fontSize40 u-md-fontSizeLarger">{{title}}</h1>

    {{!-- Article Excerpt  --}}
    {{#if custom_excerpt}}
        <p class="post-excerpt u-fontSizeBase u-paddingTop10">{{custom_excerpt}}</p>
    {{/if}}
</div>

{{/post}}
