<aside class="sharePost u-textAlignCenter u-hide-before-lg">
    <ul class="share-inner">
        <li class="godo-tracking" data-event-category="Article" data-event-action="Share" data-event-label="Facebook" data-event-non-interaction="true">
            <a href="#" class="mapache-share button--circle i-facebook bg-facebook u-fontSize20" data-share="facebook" data-url="{{url absolute="true"}}"></a>
        </li>
        <li class="godo-tracking" data-event-category="Article" data-event-action="Share" data-event-label="Twitter" data-event-non-interaction="true">
            <a href="#" class="mapache-share button--circle i-twitter bg-twitter u-fontSize20" data-share="twitter" data-url="{{url absolute="true"}}" data-title="{{title}} {{#if @blog.twitter}}by {{@blog.twitter}}{{/if}}"></a>
        </li>
        <li class="godo-tracking" data-event-category="Article" data-event-action="Share" data-event-label="Reddit" data-event-non-interaction="true">
            <a href="#" class="mapache-share button--circle i-reddit bg-reddit u-fontSize20" data-share="reddit" data-url="{{url absolute="true"}}"></a>
        </li>
        <li class="godo-tracking" data-event-category="Article" data-event-action="Share" data-event-label="Linkedin" data-event-non-interaction="true">
            <a href="#" class="mapache-share button--circle i-linkedin bg-linkedin u-fontSize20" data-share="linkedin" data-url="{{url absolute="true"}}"></a>
        </li>
        <li class="godo-tracking" data-event-category="Article" data-event-action="Share" data-event-label="Pinterest" data-event-non-interaction="true">
            <a href="#" class="mapache-share button--circle i-pinterest bg-pinterest u-fontSize20" data-share="pinterest" data-url="{{url absolute="true"}}" data-title="{{title}}"></a>
        </li>
        <li>
            <a href="#" class="toggle-comments button--circle i-chat u-fontSize20 u-hide post-comments-show"></a>
        </li>
    </ul>
</aside>
