<amp-sidebar id="sidenav" class="sidebar flex flex-col" layout="nodisplay" side="right">
    <div class="sidebar-header h-16 flex justify-between items-center px-4 text-gray-500">
        <div class="text-lg">{{t "Menu"}}</div>
        <div class="close-sidebar" role="button" aria-label="close sidebar" on="tap:sidenav.close" tabindex="0">✕</div>
    </div>

    {{!-- Navigation --}}
    <div class="flex-auto">
        {{#if @site.navigation}}{{navigation}}{{/if}}
    </div>

    {{!-- Social media --}}
    <div class="social-media px-4">
        {{#if @site.facebook}}
            <a href="{{facebook_url}}" target="_blank" rel="noopener noreferrer">
                <svg width="21" height="24" viewBox="0 0 21 24"><path d="M19.433 1.714c0.629 0 1.138 0.509 1.138 1.138v18.295c0 0.629-0.509 1.138-1.138 1.138h-5.237v-7.969h2.665l0.402-3.107h-3.067v-1.982c0-0.897 0.241-1.5 1.54-1.5l1.634-0.013v-2.772c-0.281-0.040-1.259-0.121-2.384-0.121-2.371 0-4.004 1.446-4.004 4.098v2.29h-2.679v3.107h2.679v7.969h-9.844c-0.629 0-1.138-0.509-1.138-1.138v-18.295c0-0.629 0.509-1.138 1.138-1.138h18.295z"></path></svg>
            </a>
        {{/if}}

        {{#if @site.twitter}}
            <a href="{{twitter_url}}" target="_blank" rel="noopener noreferrer">
                <svg viewBox="0 0 18 18" width="100%" height="100%"><path d="M12.077 2c-1.812 0-3.282 1.582-3.282 3.534 0 .277.03.547.085.806-2.728-.148-5.147-1.555-6.766-3.693-.283.522-.445 1.13-.445 1.777 0 1.226.58 2.308 1.46 2.942-.54-.02-1.05-.178-1.49-.443v.045c0 1.712 1.13 3.14 2.63 3.465-.28.08-.57.124-.87.124-.21 0-.418-.022-.62-.063.418 1.404 1.63 2.426 3.067 2.455-1.125.94-2.54 1.51-4.078 1.51-.267 0-.528-.02-.785-.05 1.46 1 3.185 1.59 5.04 1.59 6.037 0 9.34-5.39 9.34-10.06 0-.153-.005-.306-.01-.457.64-.5 1.197-1.12 1.637-1.83-.59.28-1.22.47-1.885.557.677-.437 1.198-1.13 1.443-1.955-.633.405-1.336.7-2.084.858C13.88 2.43 13.028 2 12.08 2"></path></svg>
            </a>
        {{/if}}

        {{!-- {{#if @custom.instagram_url}}
            <a href="{{@custom.instagram_url}}" target="_blank" rel="noopener noreferrer">
                <svg  width="21" height="24" viewBox="0 0 21 24"><path d="M13.714 12c0-1.888-1.54-3.429-3.429-3.429s-3.429 1.54-3.429 3.429 1.54 3.429 3.429 3.429 3.429-1.54 3.429-3.429zM15.563 12c0 2.92-2.357 5.277-5.277 5.277s-5.277-2.357-5.277-5.277 2.357-5.277 5.277-5.277 5.277 2.357 5.277 5.277zM17.009 6.509c0 0.683-0.549 1.232-1.232 1.232s-1.232-0.549-1.232-1.232 0.549-1.232 1.232-1.232 1.232 0.549 1.232 1.232zM10.286 3.563c-1.5 0-4.714-0.121-6.067 0.415-0.469 0.188-0.817 0.415-1.179 0.777s-0.589 0.71-0.777 1.179c-0.536 1.353-0.415 4.567-0.415 6.067s-0.121 4.714 0.415 6.067c0.188 0.469 0.415 0.817 0.777 1.179s0.71 0.589 1.179 0.777c1.353 0.536 4.567 0.415 6.067 0.415s4.714 0.121 6.067-0.415c0.469-0.188 0.817-0.415 1.179-0.777s0.589-0.71 0.777-1.179c0.536-1.353 0.415-4.567 0.415-6.067s0.121-4.714-0.415-6.067c-0.188-0.469-0.415-0.817-0.777-1.179s-0.71-0.589-1.179-0.777c-1.353-0.536-4.567-0.415-6.067-0.415zM20.571 12c0 1.42 0.013 2.826-0.067 4.246-0.080 1.647-0.455 3.107-1.661 4.313s-2.665 1.58-4.313 1.661c-1.42 0.080-2.826 0.067-4.246 0.067s-2.826 0.013-4.246-0.067c-1.647-0.080-3.107-0.455-4.313-1.661s-1.58-2.665-1.661-4.313c-0.080-1.42-0.067-2.826-0.067-4.246s-0.013-2.826 0.067-4.246c0.080-1.647 0.455-3.107 1.661-4.313s2.665-1.58 4.313-1.661c1.42-0.080 2.826-0.067 4.246-0.067s2.826-0.013 4.246 0.067c1.647 0.080 3.107 0.455 4.313 1.661s1.58 2.665 1.661 4.313c0.080 1.42 0.067 2.826 0.067 4.246z"></path></svg>
            </a>
        {{/if}} --}}

        {{!-- {{#if @custom.youtube_url}}
            <a href="{{@custom.youtube_url}}" target="_blank" rel="noopener noreferrer">
                <svg viewBox="0 0 24 24"><path d="M23.841 6.975c0-2.109-1.552-3.806-3.469-3.806A169.616 169.616 0 0012.422 3h-.844c-2.7 0-5.353.047-7.95.169-1.912 0-3.464 1.706-3.464 3.816A68.603 68.603 0 000 11.991a71.766 71.766 0 00.159 5.011c0 2.109 1.552 3.82 3.464 3.82 2.728.127 5.527.183 8.372.178 2.85.009 5.639-.047 8.372-.178 1.917 0 3.469-1.711 3.469-3.82.112-1.673.164-3.342.159-5.016a68.815 68.815 0 00-.155-5.011zM9.703 16.589V7.378l6.797 4.603-6.797 4.608z"></path></svg>
            </a>
        {{/if}} --}}

        {{!-- {{#if @custom.linkedin_url}}
            <a href="{{@custom.linkedin_url}}" target="_blank" rel="noopener noreferrer">
                <svg viewBox="0 0 24 24"><path d="M20.82 1.5H3.294c-.958 0-1.794.689-1.794 1.635V20.7c0 .952.837 1.8 1.794 1.8h17.521c.963 0 1.685-.854 1.685-1.8V3.135c.006-.946-.722-1.635-1.68-1.635zM8.01 19.005H5.002V9.651H8.01zM6.609 8.228h-.022c-.963 0-1.586-.717-1.586-1.614 0-.914.64-1.613 1.624-1.613s1.587.695 1.608 1.613c0 .897-.624 1.614-1.625 1.614zm12.396 10.777h-3.008V13.89c0-1.225-.438-2.063-1.526-2.063-.832 0-1.324.563-1.543 1.11-.082.197-.104.465-.104.739v5.328H9.816V9.65h3.008v1.302c.438-.623 1.122-1.521 2.713-1.521 1.975 0 3.469 1.302 3.469 4.108z"></path></svg>
            </a>
        {{/if}} --}}

        {{!-- {{#if @custom.github_url}}
            <a href="{{@custom.github_url}}" target="_blank" rel="noopener noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 512 512"><path d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 0 0 3.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 0 1-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0 0 25.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 0 1 5-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 0 1 112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 0 1 5 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 0 0 4-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z"/></svg>
            </a>
        {{/if}} --}}

        {{!-- {{#if @custom.discord_url}}
            <a href="{{@custom.discord_url}}" target="_blank" rel="noopener noreferrer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 512 512"><path d="M464 66.52A50 50 0 0 0 414.12 17L97.64 16A49.65 49.65 0 0 0 48 65.52V392c0 27.3 22.28 48 49.64 48H368l-13-44 109 100zM324.65 329.81s-8.72-10.39-16-19.32C340.39 301.55 352.5 282 352.5 282a139 139 0 0 1-27.85 14.25 173.31 173.31 0 0 1-35.11 10.39 170.05 170.05 0 0 1-62.72-.24 184.45 184.45 0 0 1-35.59-10.4 141.46 141.46 0 0 1-17.68-8.21c-.73-.48-1.45-.72-2.18-1.21-.49-.24-.73-.48-1-.48-4.36-2.42-6.78-4.11-6.78-4.11s11.62 19.09 42.38 28.26c-7.27 9.18-16.23 19.81-16.23 19.81-53.51-1.69-73.85-36.47-73.85-36.47 0-77.06 34.87-139.62 34.87-139.62 34.87-25.85 67.8-25.12 67.8-25.12l2.42 2.9c-43.59 12.32-63.44 31.4-63.44 31.4s5.32-2.9 14.28-6.77c25.91-11.35 46.5-14.25 55-15.21a24 24 0 0 1 4.12-.49 205.62 205.62 0 0 1 48.91-.48 201.62 201.62 0 0 1 72.89 22.95s-19.13-18.15-60.3-30.45l3.39-3.86s33.17-.73 67.81 25.16c0 0 34.87 62.56 34.87 139.62 0-.28-20.35 34.5-73.86 36.19z"/><path d="M212.05 218c-13.8 0-24.7 11.84-24.7 26.57s11.14 26.57 24.7 26.57c13.8 0 24.7-11.83 24.7-26.57.25-14.76-10.9-26.57-24.7-26.57zm88.38 0c-13.8 0-24.7 11.84-24.7 26.57s11.14 26.57 24.7 26.57c13.81 0 24.7-11.83 24.7-26.57S314 218 300.43 218z"/></svg>
            </a>
        {{/if}} --}}
    </div>

</amp-sidebar>