<section id="hm-cover" class="hm-cover u-relative u-flexColumnCenter justify-content-center u-marginBottom30 u-boxShadowBottom u-bgDark">
    {{!-- Image featured --}}
    {{#if @site.cover_image}}

        <img class="u-absolute u-image u-block lazyload blur-up"
            src="{{img_url @site.cover_image size="l"}}"
            srcset="{{img_url @site.cover_image size="xxs"}}"
            data-srcset="{{img_url @site.cover_image size="s"}} 300w,
                    {{img_url @site.cover_image size="m"}} 600w,
                    {{img_url @site.cover_image size="l"}} 1000w,
                    {{img_url @site.cover_image size="xl"}} 2000w"
            data-sizes="(max-width: 800px) 400px, (max-width: 1170px) 700px, 1400px"
            alt="{{@site.title}}"
        />
        {{!-- Gradient --}}
        <div class="u-bgOpacity u-absolute0 zindex2"></div>
    {{/if}}

    <div class="u-relative u-maxWidth1040 u-marginAuto u-padding20 u-sizeFullWidth u-textAlignCenter zindex3 u-textColorWhite">
        <div class="u-fontSizeBase u-marginBottom40 animated bounceInDown u-textUppercase">{{t "Welcome To"}}</div>
        {{!-- Blog name --}}
        <h1 id="home-title" class="hm-cover-title u-marginBottom40 animated bounceIn u-fontSizeJumbo u-md-fontSize36 u-lineHeight1">{{@site.title}}</h1>

        {{!-- Blog description --}}
        <p class="hm-cover-des animated bounceIn u-marginAuto u-fontSize26 u-md-fontSize22 u-maxWidth740 u-fontWeightThin">{{@site.description}}</p>
    </div>

    {{!-- Scroll --}}
    <div class="js-scrcoll-home animated slideOutDown infinite hm-down u-hide-before-lg u-pointer">
        {{> "icons/arrow-down-circle"}}
    </div>

</section>